.title {
    padding: 10px;
    text-align: center;
    height: 150px;
    background-color: cornflowerblue;
    color: white;
}

.add-todo {
    padding:10px  ;
    background-color: lightgoldenrodyellow;
}
.add-todo textarea{
    resize: none;
}

.items-list {
     padding: 10px;
     background-color:ghostwhite;
}
.footer {
    text-align: center;
    position: fixed;
    bottom: 5px;
}

